<div class="row" style="margin-top: 10px">
  <div class="col">
      <nav class="navbar navbar-expand-md navbar-dark" style="background-color: black;">

          <a class="navbar-brand" routerLink="/home" style="color: white;">
              <img src="../../assets/BBL.png" alt="Bharat Bijli Logo" style="width: 30px; height: auto; margin-right: 10px;">
              Bharat Bijli Corporation
          </a>

          <div class="collapse navbar-collapse">
              <div class="navbar-nav ml-auto">
                  <span class="nav-item nav-link" style="font-weight: bold; color: whitesmoke;">
                     <span style="margin-right: 20px;">Welcome</span><span><i class="fa fa-user-circle-o fa-2x" aria-hidden="true" style="margin-right: 8px;"></i></span><span style="color: aqua; margin-bottom: 10px;">Vikrant Jagtap</span>
                  </span>&nbsp;
                  <button type="button" class="btn btn-warning" (click)="logout()">Log Out</button>
              </div>
          </div>
      </nav>
  </div>
</div>